<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">


    <title>Tech Blog</title>

    
</head>
<body>
    <header class="header text-center p-4">
        {{#if loggedIn}}
        <div class="container">
            <header class="d-flex">
                <div class="text-start col-12 justify-content-center">
                    <a href="/" class="btn btn-danger text-end" id="profile">Homepage</a>
                    <a href="/makePost" class="btn btn-danger text-end" id="profile">Make a post</a>
                    <a href="/myPosts" class="btn btn-danger text-end" id="profile">My posts</a>
                    <button class="btn btn-danger text-end" id="logout">Logout</button>
                </div>
            
            </header>
        </div>
        {{else}}
        <div class="text-end">
            <a href="/login" class="btn btn-danger text-end btn-primary">Login</a>
            <a href="/signup" class="btn btn-danger text-end btn-primary">Sign up</a>
        </div>
        {{/if}}
        <div class = "col-12" id="techBible">
        <h1>Tech Bible</h1>
        </div>
    </header>
    {{{body}}}
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="visual" viewBox="0 0 3600 800" width="3600" height="800" version="1.1"><rect x="0" y="0" width="3600" height="800" fill="#ffffff"/><path d="M0 380L157 286L313 449L470 63L626 167L783 448L939 360L1096 307L1252 455L1409 432L1565 451L1722 246L1878 49L2035 292L2191 134L2348 442L2504 154L2661 155L2817 116L2974 44L3130 349L3287 134L3443 381L3600 27L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#871400"/><path d="M0 462L157 341L313 240L470 142L626 326L783 215L939 382L1096 337L1252 375L1409 104L1565 480L1722 99L1878 352L2035 145L2191 377L2348 249L2504 73L2661 343L2817 208L2974 311L3130 96L3287 173L3443 233L3600 452L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#911e02"/><path d="M0 150L157 361L313 246L470 255L626 445L783 460L939 486L1096 255L1252 330L1409 477L1565 266L1722 216L1878 485L2035 361L2191 176L2348 380L2504 182L2661 204L2817 166L2974 166L3130 155L3287 229L3443 144L3600 363L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#9b2604"/><path d="M0 392L157 346L313 430L470 522L626 539L783 233L939 425L1096 513L1252 519L1409 486L1565 307L1722 502L1878 209L2035 413L2191 391L2348 221L2504 511L2661 197L2817 546L2974 468L3130 197L3287 293L3443 295L3600 445L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#a52f05"/><path d="M0 356L157 320L313 572L470 475L626 350L783 297L939 282L1096 572L1252 554L1409 342L1565 348L1722 320L1878 505L2035 311L2191 385L2348 295L2504 278L2661 575L2817 406L2974 482L3130 333L3287 541L3443 358L3600 282L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#af3706"/><path d="M0 441L157 346L313 584L470 470L626 461L783 309L939 561L1096 419L1252 509L1409 504L1565 444L1722 322L1878 541L2035 495L2191 584L2348 553L2504 603L2661 333L2817 555L2974 598L3130 521L3287 472L3443 418L3600 593L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#b94007"/><path d="M0 388L157 504L313 603L470 415L626 396L783 480L939 588L1096 380L1252 517L1409 371L1565 383L1722 557L1878 631L2035 444L2191 477L2348 481L2504 415L2661 481L2817 617L2974 512L3130 553L3287 373L3443 532L3600 523L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#c34807"/><path d="M0 625L157 564L313 475L470 656L626 522L783 510L939 528L1096 658L1252 556L1409 571L1565 493L1722 450L1878 488L2035 515L2191 455L2348 613L2504 504L2661 614L2817 502L2974 583L3130 586L3287 566L3443 645L3600 482L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#cd5108"/><path d="M0 557L157 595L313 532L470 499L626 513L783 699L939 610L1096 518L1252 515L1409 666L1565 559L1722 518L1878 660L2035 627L2191 705L2348 706L2504 553L2661 526L2817 647L2974 704L3130 661L3287 548L3443 498L3600 583L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#d75909"/><path d="M0 572L157 620L313 592L470 683L626 689L783 592L939 733L1096 695L1252 655L1409 556L1565 627L1722 668L1878 662L2035 571L2191 585L2348 562L2504 649L2661 667L2817 704L2974 557L3130 675L3287 558L3443 723L3600 598L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#e16209"/><path d="M0 627L157 753L313 669L470 745L626 766L783 758L939 768L1096 638L1252 665L1409 616L1565 676L1722 765L1878 691L2035 723L2191 628L2348 724L2504 638L2661 700L2817 672L2974 631L3130 761L3287 737L3443 724L3600 635L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#eb6a0a"/><path d="M0 770L157 713L313 732L470 765L626 798L783 794L939 785L1096 712L1252 736L1409 758L1565 747L1722 756L1878 781L2035 736L2191 705L2348 754L2504 745L2661 744L2817 770L2974 763L3130 696L3287 794L3443 790L3600 732L3600 801L3443 801L3287 801L3130 801L2974 801L2817 801L2661 801L2504 801L2348 801L2191 801L2035 801L1878 801L1722 801L1565 801L1409 801L1252 801L1096 801L939 801L783 801L626 801L470 801L313 801L157 801L0 801Z" fill="#f5730a"/></svg>
{{#if loggedIn}}
<script src="/js/logout.js"></script> 
<script src="/js/index.js"></script>
<script src="/js/post.js"></script>
{{/if}}
</body>
</html>