<div class="container my-4">
   
   <div class="jumbotron p-3 p-md-5 text-white rounded" id="blogJumbo">
        <div class="col-md-11 px-0">
          <h1 class="display-4 font-italic">Diablo 2 to get remake</h1>
          <p class="lead my-3">"Blizzard is giving players a couple of chances to try out Diablo II: Resurrected, a remastered version of one of the studio’s most popular titles, ahead of the game’s release on September 23rd. The upcoming betas arrive during a tumultuous time for Blizzard, which is under intense scrutiny following a lawsuit alleging parent company Activision Blizzard has a culture of “constant sexual harassment.”

According to Blizzard, people who have preordered the game (or the Diablo Prime Evil Collection, which also comes with Diablo III) can check out the early access beta from August 13th at 1PM ET to August 17th at 1PM ET. Everyone else will be able to play the open beta a week later, from August 20th at 1PM ET to August 23rd at 1PM ET." Quote -  (credit theverge.com)</p>
 
        </div>
      </div>

      </div>
</div>
<div class="container">
    <div class="bg-light rounded-1 p-4">
        <div class="row justify-content-around">
            {{#each newPosts as |post|}}
            {{> postPartial }}
            {{/each}}
        </div>
    </div>
</div>
