<main class="text-center logForm login-form">
        <form>
       
            <h1 class="h3 mb-3 fw-normal">Log in here</h1>
            
            <div class="form-floating">
                <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
                <label for="email-login">Email</label>
            </div>


            <div class="form-floating">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                <label for="password-login">Password</label>
            </div>


            <button class="w-100 btn btn-lg btn-danger" type="submit" id="login-form">Log in</button>
        </form>
    </main>
<script src="/js/login.js"></script> 