<main class="text-center logForm signup-form">
    <form>

        <h1 class="h3 mb-3 fw-normal">Sign up here</h1>

        <div class="form-floating">
            <input type="username" class="form-control" id="username-signup" placeholder="username">
            <label for="username-login">Username</label>


            <div class="form-floating">
                <input type="email" class="form-control" id="email-signup" placeholder="name@example.com">
                <label for="email-login">Email address</label>


            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password-signup" placeholder="Password">
                <label for="password-login">Password</label>
            </div>


            <button class="w-100 btn btn-lg btn-danger" type="submit" id="signup-form">Sign up</button>

    </form>
</main>
<script src="/js/signup.js"></script>